
.zigweather-admin h2 { margin:0 0 15px 0; }
.zigweather-admin p { margin:0 0 15px 0; }
.zigweather-admin .strong { font-weight:bold; }
.zigweather-admin .center { text-align:center; }
.zigweather-admin .right { text-align:right; }
.zigweather-admin .mandatory { color:#e21; }
.zigweather-admin .floatRight { float:right; display:inline; }
.zigweather-admin .clearer { height:0px; clear:both; line-height:0px; overflow:hidden; font-size:0; }
.zigweather-admin #icon-zigweather { background:url(../images/weather-few-clouds-32.png) center no-repeat !important; }
.zigweather-admin .wrap-left { float:left; display:inline; width:70%; }
.zigweather-admin .wrap-right { float:right; display:inline; width:30%; }
.zigweather-admin .donate form { float:right; display:inline; text-align:right; width:150px; }
.zigweather-admin .col-pad { padding-right:15px; }
.zigweather-admin table.widefat { margin-bottom:15px; width:99%; }
.zigweather-admin img.icon { vertical-align:middle; margin-bottom:1px; }
img.zigweather-icon { vertical-align:middle; margin-bottom:1px; }
.zigweather-admin img.floatRight { margin-bottom:0; }
.zigweather-admin form input.checkbox { vertical-align:middle; margin-bottom:1px; }



table.form-table .nowrap { white-space:nowrap; }
table.form-table .right { text-align:right; }
table.form-table .strong { font-weight:bold; }
table.form-table tr td .smallish-text { width:100px; }

table.form-table tr.topborder th,
table.form-table tr.topborder td { border-top:1px solid #d1e5ee; }

.row-actions { white-space:nowrap; }


.fixed { table-layout:auto !important; }

.view-switch { display:none; }

button.button-primary { font-family:verdana; }

